.page {
  min-width: 320px;
  min-height: 100vmin;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #000;
  background-size: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}
