.popup__input {
  display: block;
  border: none;
  font-size: 14px;
  color: #000;
  width: 358px;
  height: 42px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
}

.popup__input:focus {
  outline:none;
}

.popup__input::placeholder {
  color: rgba(0, 0, 0, .2);
}

@media screen and (max-width: 800px) {
  .popup__input {
    width: 238px;
    height: 40px;
  }
}