.profile__avatar-edit-btn {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

.profile__avatar-edit-btn:hover .profile__avatar_wrapper {
  display: flex;
}

@media screen and (min-width: 800px) {
  .profile__avatar-edit-btn {
    margin: 0 30px 0 0;
    float: left;
  }
}