.profile__add-btn {
  height: 50px;
  background-color: #000;
  border: 2px solid #fff;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  background: url("../../../images/add-button.svg") center no-repeat;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  align-self: center;
}

.profile__add-btn:hover {
  opacity: .6;
}

.profile__add-btn:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 800px) {
  .profile__add-btn {
    width: 282px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  .profile__add-btn {
    width: 150px;
    margin-right: 0;
    float: right;
  }
}