.header {
  max-width: 880px;
  margin: auto;
  padding: 45px 0 41px;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width: 880px) {
  .header {
    min-width: 320px;
    padding: 28px 27px 31px;
  }
}