.popup__close-btn {
  background: url(../../../images/close-button.svg) center no-repeat;
  background-size: 154%;
  height: 58px;
  width: 58px;
  cursor: pointer;
  display: block;
  float: right;
  position: relative;
  top: -70px;
  left: 60px;
  border: none;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .popup__close-btn {
    height: 30px;
    width: 30px;
    top: -50px;
    left: 0px;
  }
}