.profile__name {
  display: flex;
  margin: auto;
  flex-flow: row;
  align-items: center;
  border: 1px solid saddlebrown;
}

/* @media screen and (max-width: 425px) {
  .profile__name{
    margin: auto;
    justify-content: center;
  }
} */