.profile__name {
  display: flex;
  flex-flow: row;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .profile__name{
    margin: auto;
    padding-top: 23px;
    justify-content: center;
  }
}