.profile__description {
  margin: 0;
  text-align: center;
  padding-bottom: 36px;
  font-size: 14px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 16px;
  overflow: hidden;
  height: auto;
}

@media screen and (min-width: 800px) {
  .profile__description {
    display: block;
    font-size: 18px;
    line-height: 1.1;
    font-weight: 400;
    text-align: left;
  }
}