.profile__description {
  margin: 0;
  padding-top: 16px;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  border: 1px solid palegreen;
}

@media screen and (max-width: 768px) {
  .profile__description{
    text-align: center;
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 1.2;
  }
}