.profile__edit-btn {
  min-width: 24px;
  height: 24px;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  background: url("../../../images/edit-button.svg") center no-repeat;
  box-sizing: border-box;
  fill: white;
  display: inline;
  vertical-align: middle;
}

.profile__edit-btn:hover {
  opacity: .6;
}

.profile__edit-btn::before {
  padding-right: 4px;
}