.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-sizing: border-box;
  background: url("../../../images/author.jpg") center no-repeat;
}

/* @media screen and (min-width: 800px) {
  .profile__avatar {
    margin: 0 30px 0 0;
    float: left;
  }
} */

.profile__avatar:hover {
  background: url("../../../images/icons/icon-edit.svg") center no-repeat;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0.8;
}