.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-sizing: border-box;
  background: url("../../../images/author.jpg") round no-repeat;
}
