.card__image {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 31vw;
  height: 31vw;
  max-width: 100%;
}

@media screen and (max-width: 425px) {
  .card__image {
    width: 100vw;
    height: 100vw;
  }
}

@media screen and (min-width: 425px) and (max-width: 800px) {
  .card__image {
    width: 47vw;
    height: 47vw;
  }
}

@media screen and (min-width: 880px) {
  .card__image {
    width: 282px;
    height: 282px;
    }
}