.popup__button_disabled {
  font-size: 18px;
  line-height: 1.2;
  color: rgba(0, 0, 0, .2);
  width: 358px;
  height: 50px;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  margin: 37px 36px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 800px) {
  .popup__button_disabled {
    font-size: 14px;
    line-height: 1.2;
    width: 238px;
    height: 46px;
    margin: 40px 22px;
  }
}