.mesto__image {
  height: auto;
  width: 100%;
  max-width: 282px;
  max-height: 282px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
